Options -Indexes
RewriteEngine On

# Страница 404
ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/403.php

# Изменяем путь по умолчанию: favicon
Redirect "/favicon.ico" "/assets/libs/bootstrap-icons/app-indicator.svg"

# Перенаправление на файл orders.php, если он существует
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Убираем слэш в конце адреса
RewriteCond %{REQUEST_URI} .+/$ [NC]
RewriteRule ^(.+)(/)$ $1 [L,R=301]

# Заменяем 403 на 404
#RewriteRule .* - [R=404,L]